h1 {
    text-align: center;
    color: rgb(0, 0, 0);
}
h3 {
    text-align: center;
    color: rgb(0, 0, 0);
}
p {
    text-align: center;
    color: rgb(0, 0, 0);
}
html {
    background-color: rgb(100, 85, 240);
}
label {
    color: rgb(0, 0, 0);
}
.playerInput {
    color: rgb(0, 0, 0);
    background-color:  rgb(100, 85, 240);
    border-style: groove;
    border-color: rgb(0, 6, 117);
}
.guessField {
    color: rgb(0, 0, 0);
    background-color:  rgb(100, 85, 240);
    border-style: groove;
    border-color: rgb(0, 6, 117);
}
.playerInputSubmit {
    color: rgb(0, 0, 0);
    background-color:  rgb(100, 85, 240);
    border-style: groove;
    border-color: rgb(0, 6, 117);
}
.guessSubmit {
    color: rgb(0, 0, 0);
    background-color:  rgb(100, 85, 240);
    border-style: groove;
    border-color: rgb(0, 6, 117);
}
